# =========================
# Android / IntelliJ
# =========================

*.iml
.idea/
.gradle/
.claude
# Local configuration
local.properties

# Build outputs
/build
**/build/

# NDK
.externalNativeBuild
.cxx

# Captures
/captures

# macOS
.DS_Store